body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.radio-buttons {
    margin: 3px 0;
    text-align: left;
    display: inline-block;
    margin-left: 35%;
    margin-right: auto;
    width: 80%;
}

.hidden {
    display: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.output {
    word-wrap: break-word;
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.center-label {
    display: block;
    text-align: center;
    width: 100%;
}